<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cricketexchange.project">
<uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CricketExchange"
        android:usesCleartextTraffic="true"
        tools:targetApi="n">
        <activity android:name=".Activity.ContactActivity"></activity>
        <activity android:name=".Activity.PrivacyActivity" />
        <activity android:name=".Activity.TermsActivity" />
        <activity android:name=".Activity.ReportActivity" />
        <activity
            android:name=".Activity.NotificationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_notification"
            android:theme="@style/Theme.CricketExchange.Fullscreen" />
        <activity
            android:name=".Activity.AboutActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_about"
            android:theme="@style/Theme.CricketExchange.Fullscreen" />
        <activity
            android:name=".Activity.NewsDetailsActivity"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.SeriesDetail" />
        <activity
            android:name=".Activity.NewsDetails"
            android:label="@string/title_activity_news_details" />
        <activity
            android:name=".Activity.MainActivity"
            android:hardwareAccelerated="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
        For activities that use ads, hardwareAcceleration should be true.
        <activity android:hardwareAccelerated="true" />
       For activities that don't use ads, hardwareAcceleration can be false.
        <activity android:hardwareAccelerated="false" />
        -->
        <!-- admob meta starts -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" /> <!-- admob meta ends -->
        <!-- Newtwork Config -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>